## Lectura, integración y limpieza de los datos

In [1]:
import pandas as pd

In [64]:
#!pip install xlrd
mareaRoja_2021 = pd.read_excel("../data/external/TPM 2021.xls", sheet_name="Hoja1", skipfooter=2)
mareaRoja_2021.head(10)

  Fecha análisis  N° muestra Producto      Zona Resultado
0     2021-01-06           1        M  ARTF 005        ND
1     2021-01-06           2        M  ARTF 002        ND
2     2021-01-06           3       Ch  ARTF 006        ND
3     2021-01-06           4        M  ARTF 001        ND
4     2021-01-06           5        M  ARTF 003        ND
5     2021-01-06           6        M  ARTF 002        ND
6     2021-01-06           7        A  ARTF 005        ND
7     2021-01-11           8        M  ARTF 005        ND
8     2021-01-11           9        M  ARTF 002        ND
9     2021-01-11          10       Ch  ARTF 006        ND

In [66]:
mareaRoja_2022 = pd.read_excel("../data/external/TPM 2022.xls", sheet_name="Hoja1", usecols=(0,1,2,3,4))
mareaRoja_2022.head(10)

  Fecha análisis  N° muestra Producto          Zona Resultado
0     2022-01-06           1        M      ARTF 001        ND
1     2022-01-06           2        M      ARTF 002        ND
2     2022-01-06           3       Ch  Pso. Guaraní        ND
3     2022-01-06           4       Ch      ARTF 002        ND
4     2022-01-06           5        M      ARTF 002        ND
5     2022-01-06           6        M      ARTF 002        ND
6     2022-01-06           7        M      ARTF 003        ND
7     2022-01-14           8        M      ARTF 002        ND
8     2022-01-14           9       Ch  Pso. Guaraní        ND
9     2022-01-14          10       Ch      ARTF 002        ND

In [67]:
datosMareaRoja = pd.concat([mareaRoja_2021, mareaRoja_2022], axis=0)
datosMareaRoja.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265 entries, 0 to 104
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha análisis  265 non-null    datetime64[ns]
 1   N° muestra      265 non-null    int64
 2   Producto        265 non-null    object
 3   Zona            265 non-null    object
 4   Resultado       265 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 12.4+ KB

In [68]:
datosMareaRoja.Resultado.value_counts()

ND         130
522.69       3
459.46       2
398.47       2
399          2
          ...
402.53       1
394.74       1
554.61       1
442.89       1
4814.14      1
Name: Resultado, Length: 119, dtype: int64

In [48]:
datosMareaRoja["ResultadoBool"] = datosMareaRoja.Resultado != "ND"
datosMareaRoja["ResultadoBool"].value_counts()

True     135
False    130
Name: ResultadoBool, dtype: int64

In [69]:
datosMareaRoja.drop(columns = ["N° muestra"])
datosMareaRoja

    Fecha análisis  N° muestra Producto          Zona Resultado
0       2021-01-06           1        M      ARTF 005        ND
1       2021-01-06           2        M      ARTF 002        ND
2       2021-01-06           3       Ch      ARTF 006        ND
3       2021-01-06           4        M      ARTF 001        ND
4       2021-01-06           5        M      ARTF 003        ND
..             ...         ...      ...           ...       ...
100     2022-04-11         135        M    Pta. Lápiz   7612.92
101     2022-04-11         136       Ch  Pso. Guaraní   34357.7
102     2022-04-13         137        M  B.B. Entrada  14881.56
103     2022-04-13         138        M    B.B. Fondo   12289.2
104     2022-04-11         139        M     B. Varela   4814.14

[265 rows x 5 columns]

In [71]:
datosMeteorologicos = pd.read_excel("../data/external/Datos SMN Ushuaia 2020-2021.xlsx", sheet_name="Registros - Ushuaia Aero (87938", skiprows=3, header=None)
datosMeteorologicos.columns = ["Fecha","TempMax","TempMin","TempMedia","TempRocio","PresionEstacion",
                               "PresionMar","Precipitacion","HumRel","Heliofania","Nubosidad","VientMaxDir","VientMaxInt","VentMedioInt"]
datosMeteorologicos.head()

,Fecha,TempMax,TempMin,TempMedia,TempRocio,PresionEstacion,PresionMar,Precipitacion,HumRel,Heliofania,Nubosidad,VientMaxDir,VientMaxInt,VentMedioInt
0,2020-01-01,22,8.6,14.6,4.7,999.5,1006.3,0.3,54,8.5,6,32,16.5,3.9
1,2020-01-02,17.8,10,13,5.6,993.9,1000.6,0.4,63,8.0,5,23,15.9,7.2
2,2020-01-03,15,6.8,10.2,1,999.7,1006.6,0,55,7.3,5,23,15.4,4.8
3,2020-01-04,15.2,7,10.4,3.2,998,1005,0,63,11.8,5,32,13.4,3.6
4,2020-01-05,15.5,9.2,11.7,4,987.6,994.4,0.4,60,6.8,6,23,16.5,7.6

In [63]:
datosMeteorologicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            731 non-null    datetime64[ns]
 1   TempMax          731 non-null    object
 2   TempMin          731 non-null    object
 3   TempMedia        731 non-null    object
 4   TempRocio        731 non-null    object
 5   PresionEstacion  731 non-null    object
 6   PresionMar       731 non-null    object
 7   Precipitacion    731 non-null    object
 8   HumRel           731 non-null    object
 9   Heliofania       731 non-null    float64
 10  Nubosidad        731 non-null    object
 11  VientMaxDir      731 non-null    object
 12  VientMaxInt      731 non-null    object
 13  VentMedioInt     731 non-null    object
dtypes: datetime64[ns](1), float64(1), object(12)
memory usage: 80.1+ KB

In [ ]:
indicesColumnas = [1,2,]